<% provide(:title, "Login") %>
<h1>Login</h1>

	<%= form_for(:session, url: sessions_path) do |f| %>
	
		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :password %>
		<%= f.password_field :password %>

		<%= f.submit "Login" %>
	<% end %>

	<p class="center">New user? <%= link_to "Register", register_path %></p>

<div id="loginbg" class="">
    <div class="bcg"
    	style="margin-bottom:-45px;margin-top:30px;height:25%;background-attachment: none;"
	data--100-bottom="background-position: 50% 0vh;"
        data--200-bottom="background-position: 50% -25vh;"
        data-anchor-target="#loginbg"
    >
        <div class="hsContainer" style="height: 40vw;">
            <div class="hsContent"
                data-100-top="opacity: 1"
                data-top="opacity: 0"
                data-anchor-target="#loginbg h1"
            >
            
            </div>
            </div>
    </div>
</div>