<tr>
	<td><%= user.name.downcase.titleize %></td>
	<td><%= user.email %></td>
	<td><%= user.phone %></td>
	<td><%= user.bids.count %></td>
	<td><%= time_ago_in_words(user.created_at) %> ago.</td>
</tr>
