<% provide(:title, 'Register') %>
<h1>Register</h1>

	<%= form_for @user, html: {class: "form-horizontal"} do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= f.label :name %>
		<%= f.text_field :name %>
	
		<%= f.label :email %>
		<%= f.text_field :email, placeholder: "t_chi@u.pacific.edu" %>
		
		<%= f.label :phone %>
		<%= f.text_field :phone, placeholder: "209 123 4567" %>	
	
		<%= f.label :password %>
		<%= f.password_field :password%>
	
		<%= f.label :password_confirmation, "Password Confirmation" %>
		<%= f.password_field :password_confirmation %>
		
		<p style="font-size: .9em;line-height:1.5;text-align:left;">By registering to bid you agree to place bids in good faith and plan to pay winning bids in full at or before the cutting event Friday September 19, 2014. Name, email, and phone are used solely in this philanthropy event for the purposes of identification confirmation and contacting winning bidders. No payment info is necessary to place bid.</p>

		<%= f.submit "Register" %>
	<% end%>
	<p class="center">Existing user? <%= link_to "Login", login_path %></p>

