<% provide(:title, @user.name.downcase.titleize) %>

<div class="top">


<div class="container">
<h1>Here are your bids, <%= @user.name.split[0].downcase.titleize %>!</h1>
<% if @user.bids.any? %>
<p>Thanks for supporting Cut the Chi and making a bid or two! Here you should keep track of the bids you've made and pay attention for people outbidding you. Make sure you win that haircut! When you're done here you can take a look at <%= link_to "Bidding Progress", candidates_path %> or <%= link_to "Learn about the Event", event_path %>.</p>
<% end %>
</div></div>
<div class="container">

<section id="bid-history">
<% if @user.bids.any? %>

	<h2>You currently have <%= @active.count %> active bids.</h2>
	<table class="table table-striped table-condensed">
		<%= render @active %>
	</table>

	<h2>You have placed <%= @user.bids.count %> bids in total.</h2>
	<table class="table table-striped table-condensed">
		<%= render @bids %>
	</table>
	<% else %>


	<h2>Aww, you haven't made any bids!</h2>
	<p>Why don't you visit the <%= link_to "List of Candidates", candidates_path %> and consider making a bid to cut some Theta Chi hair to support the USO? Or learn more about the <%= link_to "Event", event_path %> and who your bid will be supporting.</p>
<% end %>


<% if @user.admin %>

	<h2><%= @all_active.count %> active bids.</h2>
	<table class="table table-striped table-condensed">
			<%= render @all_active %>
	</table>

	<h2><%= Bid.all.count %> bids in total.</h2>
	<table class="table table-striped table-condensed">
		<%= render @all_bids %>
	</table>
	
	
	<h2><%= User.all.count %> users in total.</h2>
	<table class="table table-striped table-condensed">
		<%= render @users %>
	</table>
	<% end %>

</section>
</div>
