    <li class="candidate">
			
      <%= image_tag "photos/#{candidate.photo}.jpg", alt: candidate.name, class: "img-responsive" %>
      
      
      
      <div class="info">
      <% if (highest_bid candidate) > 0 %>
            <p class="bid">Highest Bid: $<%= highest_bid candidate %><br />By <%= candidate.users.order("bid DESC").first.name %></p> 
      <% else %>
          
						<p class="bid"> <br />No Bids</p>
      <% end %>    
            
      <p class="name"><b><%= candidate.name %></b></p>			
			<p class="description"><%= candidate.comment %></p>
			</div>
			
			
			<% if date_check == 2 %>
			
			<% if logged_in? && @show.blank? %>
			
			<div class="login">
				<p class="center"><%= link_to "Bid on #{candidate.name.split[0]}", candidate, class: "link"%></p>
				</div>
			
			
			<% elsif logged_in? %>
			
			
				<%= form_for(@bid, html: {class: "form-horizontal"}) do |f| %>
					<%= render 'shared/error_messages', object: f.object %>
					<div class="place">
					<%= f.label :bid, "Bid: $", class: "" %>
					<%= f.text_field :bid, placeholder: minimum_bid(candidate) %>
				</div>
				
					<%= f.hidden_field :candidate_id, value: candidate.id %>
					<%= f.hidden_field :minimum_bid, value: minimum_bid(candidate) %>
					
				
					<%= f.submit "Place Bid" %>
				<% end %>
			
				
				
	
			
		
			
			<% else %>
				
				<div class="login">
				<p class="center"><%= link_to "Login to bid", login_path, class: "link"%></p>
				</div>
				
			<% end %>
			
			<% else %>
				<div class="login">
				<p class="center"><%= link_to "Bidding Closed", "#", class: "link"%></p>
				</div>
				<% end %>
				
			
    </li>
