    <li class="candidate">
      <%= image_tag "photos/#{candidate.photo}.jpg", alt: candidate.name, class: "img-responsive" %>
      <p class="name"><b><%= candidate.name %></b></p>
			<p class="bid">Highest Bid: $<%= highest_bid candidate %></p>
			<p class="description"><%= candidate.comment %></p>
			
			<% if logged_in? %>
				<%= form_for(@bid) do |f| %>
					<%= render 'shared/error_messages', object: f.object %>
				
					<%= f.label :bid, "Bid: $" %>
					<%= f.text_field :bid, placeholder: minimum_bid(candidate) %>

					<%= f.hidden_field :candidate_id, value: candidate.id %>
					<%= f.hidden_field :minimum_bid, value: minimum_bid(candidate) %>

					<%= f.submit "Place Bid" %>
				<% end %>
			<% else %>
				<%= link_to "Log in to bid", login_path, class: "link"%>
			<% end %>
    </li>