<header>
	<div class="container">
	<%= link_to "cutthechi", root_path, id: "logo" %>
	<nav>
		<ul class="list-inline">
			<li><%= link_to "Home",    	root_path %></li>
			<li><%= link_to "Event",  	event_path %></li>
			<li><%= link_to "Bidding", 	candidates_path %></li>
		</ul>

		<ul class="list-inline">
			<% if logged_in? %>
				<li>Welcome, <%= current_user.name %></li>
				<li><%= link_to "Your Bids", 	current_user %></li>
				<li><%= link_to "Settings", 	edit_user_path(current_user) %></li>
				<li><%= link_to "Logout", 		logout_path, method: "delete" %></li>
			<% else %>
				<li><%= link_to "Register",		register_path %></li>
				<li><%= link_to "Login",			login_path %></li>
			<% end %>
		</ul>
	</nav>
	</div>
</header>