<header>
	<div class="container">

	<nav>
		<p>
			<%= link_to "Home",    	root_path %>
			<%= link_to "Event",  	event_path %>
			<%= link_to "Bidding", 	candidates_path %>
		</p>
		<p>
			<% if logged_in? %>
				<span>Welcome, <%= current_user.name.split[0] %></span>
				<%= link_to "Your Bids", 	current_user %>
				<%= link_to "Settings", 	edit_user_path(current_user) %>
				<%= link_to "Logout", 		logout_path, method: "delete" %>
			<% else %>
				<%= link_to "Register",		register_path %>
				<%= link_to "Login",			login_path %>
			<% end %>
		<p/>
	</nav>
		<%= link_to "cutthechi", root_path, id: "logo" %>
	</div>
</header>
