<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= favicon_link_tag 'favicon.ico' %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<meta property="og:title" content="Pacific Cut the Chi" />
	<meta property="og:description" content="It's time to Cut the Chi with ΘΧ." />
	<meta property="og:url" content="http://pacificcutthechi.com" />
	<meta property="og:image" content="https://dl.dropboxusercontent.com/u/38772395/banner06.jpg" />
</head>
<body>

	<div id="wrapper">
		
		
	
		<% if date_check == 0 %>
			<div class="alert alert-error">Bidding has not opened yet, please wait!</div>
		<% elsif date_check == 1 %>
			<div class="alert alert-success">Bidding has ended! Thanks for participating and be sure to attend the event Sept. 30 at 4pm.</div>
		<% else %>
			<div class="alert alert-notification">Bidding ends Sept. 30 at 12am. Get Bidding!</div>
		<% end %>

		<%= render 'layouts/header' %>
		
		
		<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>	
		
		<div id="content">		
			<%= yield %>
			
		</div>

		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
	</div>

</body>
</html>
